# List

In [1]:
# List : Data Structure of Python Programming
# List is Mutable in Nature
''' 
If any function defined inside a class then such function is called 'Method'.
List: List is the collection of different datatypes of python arranged in sequential manner.
'''

lst = []  # Blank List
print(type(lst))
lst.append(1)  # Function : Method  
print(lst)
lst.append(2)  
print(lst)

<class 'list'>
[1]
[1, 2]

In [2]:
# clear() function will clear all the datatype mentioned inside a list 
lst.clear() 
print(lst)

[]

In [4]:
# append() function : Add the value at the last index of the list
lst.append(10)
lst.append(20)
print (lst)

[10, 20, 10, 20]

In [5]:
# Insert () function : will add value to the specified index
lst.insert(0,0)
lst.insert(3,30)
print(lst)

[0, 10, 20, 30, 10, 20]

In [6]:
# we cant add values so we have to use numpy
import numpy as np
a = np.array(lst)
a.sum()

90

In [7]:
# count() function : It will count how many specified values are there
lst.count(20)

2

In [8]:
# index function () : It will return the value presented in that index
lst.index(10)

1

In [ ]:
# searching alogorithm : Searches the value presented in that index
lst.index(20)

2

In [7]:
# Sorting Algorithm : Sorts value in ascending order
m = [100,20,60,10,30,40]
m.sort(reverse=False)
print(m)

[10, 20, 30, 40, 60, 100]

In [6]:
m = [100,20,60,10,30,40]
m.sort()
print(m)

[10, 20, 30, 40, 60, 100]

In [14]:
# copy() function : copies the value presented in the given list
n = m.copy()
print(n)

[100, 20, 10, 30, 40, 60]

In [15]:
# extend() function : extend the list with the previous list
n.extend([20,30,40,50])
n

[100, 20, 10, 30, 40, 60, 20, 30, 40, 50]

In [ ]:
# pop() will remove the last value present inside a list
m.pop()

40

In [18]:
print(m)

[100, 20, 10, 30]

In [ ]:
# Remove() : will remove the given value in a list
m.remove(30)
print (m)

[100, 20, 10]

In [ ]:

a = [0,10,10,10,20,30] # only removes the 10 presented in index 1
a.remove(10)
print(a)

[0, 10, 10, 20, 30]

In [21]:
# Concept of Indexing and Slicing

array = [10,20,30,40,50,60]
array[3]

40

In [22]:
lst = [10,20,30,[100,200,300]]
print(lst[3][1])

200

In [25]:
lst = [1,2,[3,[4,[5,6,7,[8],9],10],11],12]

In [26]:
print(lst[2][1][1][3][0])

8

In [29]:
d = [10,20,30,[40,[50,[600,700,800,[900],1,2],3],4],5]

In [30]:
# Answer : 900
print(d[3][1][1][3][0])

900

In [31]:
# Answer: (6,7,8,9)
e = [10,20,30,[40,50,60,(1,2,(3,4,(5,6,7,8,9,10),11),12),13],14]
print(e[3][3][2][2][1:5])

(6, 7, 8, 9)

In [32]:
# Reversing a list
a = [100,200,300,400,500,600]
a.reverse()
print(a)

[600, 500, 400, 300, 200, 100]

In [33]:
# Reversing a list : Alternative Method
# [start:stop:step]

a = [100,300,500,600,800,3000]
print(a[::-1])

[3000, 800, 600, 500, 300, 100]

In [ ]:
'''
Summary
List : Data Structure of Python Programming
List is Mutable in Nature
If any function defined inside a class then such function is called 'Method'.
List: List is the collection of different datatypes of python arranged in sequential manner.

Functions / Methods  of List
* clear() function will clear all the datatype mentioned inside a list 
* append() function : Add the value at the last index of the list
* Insert () function : will add value to the specified index
* count() function : It will count how many specified values are there
* index function () : It will return the value presented in that index
* extend() function : extend the list with the previous list
* copy() function : copies the value presented in the given list
*  pop() will remove the last value present inside a list
* Remove() : will remove the given value in a list
* reverse(): will reverse the values in the list



'''

# Set

In [1]:
'''
Set is a data structure and is mutable
set is a class
it contains only number
'''
set = {2,34,56,23,90}
print (set)
print(type(set))

{2, 34, 23, 56, 90}
<class 'set'>